body {
  margin: 100px auto;
  width: 80vw;
  max-width: 700px;
}

.main_cloud,
.week_clouds {
  font-size: 45px;
}

ul {
  list-style-type: none;
  font-weight: lighter;
  margin: 0 0 30px 15px;
  padding: 0;
}
#weatherCondition {
  text-transform: capitalize;
}
