body {
  margin: 100px auto;
  width: 80vw;
  max-width: 700px;
  font-family: arial, sans-serif;
}
h1 {
  color: black;
  font-size: 24px;
  font-weight: 100;
  height: 27px;
  line-height: 28px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
  font-size: 16px;
  font-weight: 100;
  margin: 0 0 30px 15px;
  margin: 0;
  padding: 0;
}
#current-temp {
  font-size: 50px;
  font-weight: 400;
  position: relative;
  top: 5px;
  left: 55px;
}
.degrees {
  position: relative;
  top: 20px;
  left: 65px;
}
#footer {
  position: absolute;
  bottom: 100px;
}
.forecast-images {
  width: 70px;
  margin-left: -15px;
}
.forecast-time h3 {
  font-size: 16px;
}
#icon {
  margin: 0 auto;
  position: relative;
  bottom: 28px;
  left: 30px;
  width: 135px;
}
.overview li {
  line-height: 5px;
}
.temp-box {
  text-align: center;
}
.weather-alt-info {
  position: relative;
  top: 20px;
}
#weatherCondition {
  text-transform: capitalize;
}
.weather-app-wrapper {
  max-width: 500px;
  margin: 30px auto;
  background-color: ;
}
.weather-app-box {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 5px;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}
.week_clouds {
  font-size: 35px;
}
